<div class="card employee-card mr-1 mt-3">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title bg-info"><span class="material-icons">laptop_mac</span>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><span class="material-icons">fingerprint</span>ID: {{ id }}</li>
            <li class="list-group-item text-dark"><span class="material-icons">email</span>Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item text-dark"><span class="material-icons">code</span>GitHub: <a href="https://github.com/{{ github }}" target="_blank">{{ github }}</a></li>
        </ul>
    </div>
</div>